body {
  background-color: #fcf4fc;
}

.top-container form {
  width: 80%;
  margin: 0 auto;
}

h1 {
  color: #79a2f3;
}

h3,
label,
span {
  color: #1861f1;
}

p {
  color: black;
}

/* cards output */

.title,
.details,
.assignTo {
  border: none;
}

.cards {
  background: #fcf4fc;
}

.fa-square-check {
  color: green;
}

.fa-xmark {
  color: red;
}

.fa-pen-to-square {
  color: orange;
}
button {
  border: none;
}

/* alert  validation*/
.messageAlert {
  color: red;
}

.btn.error {
  background-color: red;
  color: white;
}

.form-field.success input {
  border-color: green;
}

.form-field.error input {
  border-color: red;
}

.form-field small {
  visibility: hidden;
}
.form-field.error small {
  visibility: visible;
}

/* end of validation */
